.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.selected {
  outline: none;
  border: none;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--grayscale-30);
  background: var(--grayscale-10, #fff);
  color: var(--grayscale-90, #1a1f36);
  font-size: 17px;
  @media (prefers-color-scheme: dark) {
    background: var(--grayscale-30, #1a1f36);
    box-shadow: none;
  }
  user-select: none;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option {
  border-radius: 8px;
  background: var(--grayscale-10, #191d23);
  box-shadow: 0px 4px 20px 0px rgba(90, 105, 125, 0.12);
  display: flex;
  width: 100%;
  padding: 16px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 90px;
  overflow: hidden;
  li {
    list-style: none;
    transition: 0.1s;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
  }
  @media (prefers-color-scheme: dark) {
    background: var(--grayscale-20, #1a1f36);
    box-shadow: none;
  }
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
