:root {
  --grayscale-10: #ffffff;
  --grayscale-20: #f0f2f4;
  --grayscale-30: #e7eaee;
  --grayscale-40: #b6beca;
  --grayscale-50: #95a1b2;
  --grayscale-60: #718198;
  --grayscale-70: #505d6f;
  --grayscale-80: #262c34;
  --grayscale-90: #1f242b;
  --etc-dim: #00000066;
  --etc-highlight: #3671c2;
  --etc-logo: #1c232e;
  --etc-logo-2: #222b38;
  --etc-logo-3: #2b3647;
  --etc-red: #f83e3e;
  --etc-status-bar: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --grayscale-10: #191d23;
    --grayscale-20: #14171c;
    --grayscale-30: #22282f;
    --grayscale-40: #718198;
    --grayscale-50: #97a3b3;
    --grayscale-60: #adb7c4;
    --grayscale-70: #cdd3db;
    --grayscale-80: #e7eaee;
    --grayscale-90: #ffffff;
    --etc-dim: #00000066;
    --etc-highlight: #5f90d3;
    --etc-logo: #ffffff;
    --etc-logo-2: #e1e5eb;
    --etc-logo-3: #ced5e0;
    --etc-red: #f83e3e;
    --etc-status-bar: #ffffff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'SUIT Variable', -apple-system, BlinkMacSystemFont, system-ui,
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--grayscale-10);
}
