.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
  input {
    outline: none;
    border: none;
    display: flex;
    padding: 16px 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px var(--grayscale-30);
    background: var(--grayscale-10, #fff);
    color: var(--grayscale-90, #1a1f36);
    font-size: 17px;
    @media (prefers-color-scheme: dark) {
      background: var(--grayscale-30, #1a1f36);
      box-shadow: none;
    }
    &::placeholder {
      color: var(--grayscale-40);
    }
    &:-internal-autofill-selected {
      background-color: transparent;
    }
    &:autofill {
      filter: none;
      color: var(--grayscale-90, #1a1f36) !important;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--grayscale-90, #1a1f36) !important;
      caret-color: var(--grayscale-90, #1a1f36);
    }
    &[type='password'] {
      font: small-caption;
    }
  }
}

.error {
  color: var(--etc-red, #f83e3e);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}

.inputError {
  box-shadow: inset 0 0 0 2px var(--etc-red) !important;
}
