.section {
  display: flex;
  padding: 0px 36px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  animation: slideIn 0.5s ease;
  gap: 16px;
}

.tableTop {
  display: flex;
  padding: 9px 0px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sectionTop {
  display: flex;
  padding: 100px 0px 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow: hidden;
}

.table-head {
  border-bottom: 1px solid var(--grayscale-30, #e7eaee);
}

.create-club {
  display: flex;
  padding: 8px 12px 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--etc-highlight, #3671c2);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: var(--etc-highlight-hover, #2e5eaa);
  }
  color: var(--grayscale-10, #fff);
}
